.container {
  max-width: 1336px;
  margin-inline: auto;
}

.subtittle{
  font: var(--subtitle-inconsolata);
}

.tittle-lg{
  font: var(--title-lg-asap);
}

.tittle-md{
  font: var(--title-md-asap);
}

.tittle-sm{
  font: var(--title-sm-asap);
}

.text-md {
  font: var(--text-md-maven-pro);
}

.text-sm {
  font: var(--text-sm-maven-pro);
}

.gray-100{
 color: var(--gray-100); 
}

.gray-200{
 color: var(--gray-200); 
}

.gray-300{
  color: var(--gray-300); 
 }

.gray-400{
  color: var(--gray-400); 
}

.gray-500{
  color: var(--gray-500); 
 }

 .gray-600{
  color: var(--gray-600); 
 }

 .red {
  color: var(--color-red);
 }

 .gap-24{
  gap:24px;
 }

 .grid-3x2{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
 }

 .card{
  display: grid;
  background-color: var(--gray-300);
  padding: 12px;
  gap: 20px;
  border-radius: 12px;
  outline: 1.5px solid transparent;
  border: none;
  border-color: transparent;
  transition: outline-color 0.5s ease;

  img{
    border-radius: 8px;
    max-width: 100%;
    object-fit: cover;
  }

  &:hover{
    outline: 1.5px solid var(--gray-400);
   }
}

 .card-text{
  display: grid;
  padding: 4px;
  gap: 8px;
 }
